.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.title {
  font-size: 18px;
  color: #000000;
}
.button {
  background-color: #ffffff;
  color: #ff0b37;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff0b37;
  border-radius: 5px;
}
